@import url("https://fonts.googleapis.com/css?family=Open Sans");
html{
    scroll-behavior: smooth;
}

body{
    margin: 0%;
    background-color:#F8F9F7;
    overflow: auto;
}

#contact-us-list>li {
    display: inline;
    list-style-type: decimal;
    color: white;
}
#contact-us-list>li>a{
    text-decoration: none;
}
#contact-us-list>li>a:hover{

    text-decoration: underline;
    color: white;
}
li>a{
    color: white
}

#contact-us-list>li:not(:last-child):hover{
    text-decoration: underline;
}
#contact-us-list>li:not(:last-child):after{
    content: '\2022';
    padding-left: 1.2px;
}
.site-footer{
    color: #FFF;
    padding:2px 2px 2px 2px;
    background-color: #303c42;
}

.header-right>ul{
    padding: 0px;

}
footer>section{
    padding: 5px 5px 5px 5px;
}

a.navbar-brand{
    font-size: 26px;
    text-decoration: none;
    float: left ;
    margin: 0%;
    vertical-align: middle;
    line-height: 44px;
    font-family: 'Open Sans';
    color: aliceblue;
}

#nav-items-list{

    top: 0%;
    list-style-type: none;
    margin: 0%;

}
#nav-items-list>li{



    padding: 10px;

    text-decoration: none;
    display: inline-block;
    text-align: center;



}
#About.nav-a:hover,#About.active{
    background-color: #4285F4;
    border-radius:100px;
    transition-duration: 1s;

}
#skill.nav-a:hover,#skill.active{
    background-color: #DB4437;
    border-radius:100px;
    transition-duration: 1s;


}

#edu.nav-a:hover,#edu.active{
    background-color: #F4B400;
    border-radius:100px;
    transition-duration: 1s;

}

#projects.nav-a:hover,#projects.active{
    background-color: #4285F4;
    border-radius:100px;
    transition-duration: 1s;

}

#Contact.nav-a:hover,#Contact.active{
    background-color: #0F9D58;
    border-radius:100px;
    transition-duration: 1s;

}
a.nav-a{

    padding: 14px 16px;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
}
.header-right{

    float:right;
    margin: 0%;


}

.nav-header-container{

    box-shadow: 0px 5px 4px rgba(66, 20, 175, 0.1);


    position: sticky;
    top:0%;
    height: 44px;
    width: -webkit-fill-available;
    background-color: #141b27;
    margin:auto;

    padding:10px 20px;

}
#dsc-brand{

    float: left ;
    margin: 0%;
    vertical-align: middle;
    line-height: 44px;
    font-family: 'Open Sans';
    color: aliceblue;



}
#container>ul{
    text-align: center;
}
#container>ul li{
    list-style-type: none;
    padding: 0px;
    text-align: center;
    display: inline-block;

}
div>h1{
    color:#263349;
}

p{
    font-family: Lato, sans-serif;
}

hr{

    color: grey;
    width: 80%;
}

.contact{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    text-decoration: none;
    text-align: center;
}
@media (max-width:700px){

    .nav-header-container{
        width: 45%;
    }
    #nav-items-list{
        width: 20%;
        float: left;
    }

}

@media(min-width:700px){

    .navbar-toggler{
        display: none;
    }


}

.navbar {
    /*Information for Navbar*/
    background-color: #141b27;
    padding: 10px;
    /* font-weight: bold; */
    /* text-align: center; */
    box-shadow: 0 0 10px 0;
}

a:link {

    text-align: center;
    text-decoration: none;

}

.aboutbackground {
    background-image: url("../images/skills.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;

}

.name {
    padding-top: 75px;
    padding-bottom: 5px;
    font-weight: bold;
}

.picture {
    height: 200px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 50%;
}

.positionTitle {
    padding-top:10px;
    padding-bottom: 15px;
}

.aboutinfo {
    background-color: rgba(220, 221, 255, 0.6);
    text-align: center;
    width: 50%;
    padding: 15px;
    margin: auto;
}

.whitespacebottom {
    /*way to remove white space between aboutinfo and skills page when setting padding*/
    width: 100%;
    margin: auto;
    padding-bottom: 25px;
}

#project {
    background-image: url("../images/project2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 50%;
    margin: auto;
    padding: 10px;
    padding-top: 10px;
    color: black;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    display: table;
    font-size: 20px;
    color: black;
}
#leftcolumn, #rightcolumn {
    float: left;
    min-height: 150px;
}
#leftcolumn {
    width: 20%;
}
#rightcolumn {
    width: 80%;
    margin: auto;

}

ul {
    text-align: left;
    width: 100%;
    margin: 0;
}

#skills{
    color: black;
    text-align:center;
    padding-top:70px;
    padding-bottom: 15px;
    margin: auto;
}

#skillsList{

    text-align: center;
    width: 80%;
    margin: auto;
    padding: 10px;
    color: purple;
}

.container {
    display: flex;
}

.container > div {
    flex: 1; /*grow*/
}
.educationbackground {
    background: url("../images/scet.jpeg");
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.whitespacetop {
    
    width: 100%;
    margin: auto;
    padding-top: 90px;
}

.educationinfo {
    text-align: center;
    font-weight: bold;
    width: 50%;
    margin: auto;
    padding: 25px;
    padding-top: 30px;
    background-color: rgba(220, 221, 255, 0.6);

}
#contact {
    background-color: rgba(220, 221, 255, 0.6);
    text-align: left;
    width: 50%;
    margin: auto;
    padding: 25px;
    padding-top: 60px;
}

.resume {
    text-align: left;
    padding-right: 20%;
}

.i {
    margin-left: 10px;
    font-size: 30px;
    height: 30px;
    vertical-align: middle;
}

footer {
    text-align: center;
    font-size: 9pt;
    background-color: rgba(220, 221, 255, 0.6);
    padding-bottom: 1px;
}
